# Injected by `neon dev` and written by `neon env pull` from your linked branch.
NEON_BRANCH="main"
DATABASE_URL="postgresql://user:password@ep-xxx-xxx-pooler.region.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://user:password@ep-xxx-xxx.region.neon.tech/neondb?sslmode=require&channel_binding=require"
