.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 0 2rem 0 0;

  color: #fff;

  a {
    text-decoration: none;
    transition: color 0.2s ease;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: #ff6600;
    }
  }
}
