# Postgres URL retrieved here: https://console.neon.tech
DATABASE_URL="postgresql://neondb_owner:...@ep-...us-east-1.aws.neon.tech/neondb?sslmode=require"

# api key generated here: https://resend.com/api-keys
AUTH_RESEND_KEY=YOUR_RESEND_API_KEY

# generated using `npx auth secret`
AUTH_SECRET=YOUR_AUTH_SECRET
