# Postgres URL retrieved from https://console.neon.tech
DATABASE_URL="postgresql://user:password@ep-xxx-xxx.region.neon.tech/neondb?sslmode=require&channel_binding=require"

# API key generated at https://resend.com/api-keys
AUTH_RESEND_KEY="YOUR_RESEND_API_KEY"

# Secret generated using `npx auth secret`
AUTH_SECRET="YOUR_AUTH_SECRET"
