DATABASE_URL="postgresql://neondb_owner:...@ep-...us-east-1.aws.neon.tech/neondb?sslmode=require"

OPENAI_API_KEY="sk-..."

NEON_BUCKETS_ENDPOINT="https://...neon.build"
NEON_BUCKETS_REGION="auto"
NEON_BUCKETS_ACCESS_KEY_ID="..."
NEON_BUCKETS_SECRET_ACCESS_KEY="..."
NEON_BUCKETS_NAME="images"
