# Injected by `neon dev` and written by `neon env pull` from your linked branch.
NEON_BRANCH="main"
DATABASE_URL="postgresql://neondb_owner:...@ep-...-pooler.c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://neondb_owner:...@ep-....c-3.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
